/***********************************************
**
**		PK SIMPLE GMAIL
**		My 1st test on chrome extension ;)
**
************************************************/

/* Gmail logo translucid = nologo */
.gb_rc {
	opacity: 0.0;
}


/* hide left bar pictos */
/* .navPeek .aeN:not(.bym).bhZ .Xa,  :not(.navPeek):not(.isDragging) .aeN.bhZ .Xa {
  display: none;
}*/


/* hide search text */
#gb form[role='search']:not(.focused) input[name='q']::placeholder {
  opacity: 0;
}

/* light button */
#gb form[role='search']:not(.focused) button {
  opacity: 0.5;
}

/*Put below the 2nd menu ex: refresh / more just near Categories*/
  .G-atb {
	position: fixed;
	left : 195px ;
	width: 80% !important;
}

/* 2nd header marging CATEGORIES*/
.aAA.J-KU-Jg.J-KU-Jg-K9 { 
	max-width: 75%; margin-left: auto; margin-right: auto; border: none; }
	
/* Hide keyboard option */
  #gbwa,
  .FI, .zo, .aBS, .bvE, .bvD, .bvI, .readingPaneToggle {
  opacity: 0;
}

/* Hide layout option */
  .G-Ni:not(.readingPaneToggle) > div.apF,   
  .G-Ni:not(.readingPaneToggle) > div.apG {
  opacity: 0;
}


/* Mail content and list centered, background transparent, padding*/
.ae4.nH.oy8Mbf table, 
table.Bs.nH.iY.bAt { margin-top: 0px;  margin-top: 0px; max-width: 75%; margin-left: auto; margin-right: auto; border: none; }
.ae4.nH.oy8Mbf table tr { background: transparent !important; border: none; }
.ae4.nH.oy8Mbf table td { background: transparent !important; padding: 6px;}
.ae4.nH.oy8Mbf table tr.zA:hover { background: rgba(0, 255, 40, 0.1) !important; box-shadow: none; }

/* hide blue color on selected mail */
:not(.contrastTheme) .zA.aps .PE.PF::before, 
:not(.contrastTheme) .zA.btb .PE.PF::before {
  background-color: transparent;
}